
 
#loading-container {
	width:32px; height:32px;
	margin:30px auto;
	padding:20px;
	border-radius:400px;
    text-align:center;
	background:#fff;
}
#twitter-feed {
    margin:auto;
    overflow:auto;
}
.twitter-article, #loading-container {
    width:100%;
    float:left; 
    padding:8px 0px 8px 0px;
    position:relative;
} 
.twitter-pic {
    position:absolute;
}
  
.twitter-pic img {
    float:left;
    border-radius:7px;  
    border:none;
      
}
  
/* -------- TEXT STYLING ------*/
.twitter-text {
    width:100%;
    float:left;
    font-size:11px;
    padding-left:52px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.twitter-text p {
    margin:0px;
    line-height:15px;   
}
.twitter-text a {
    color: #00acee;
    text-decoration: none;
}
.twitter-text a:hover {
    text-decoration: underline;
    color: #00acee;
}
  
.tweet-time {
    font-size:10px;
    color:#878787;
    float:right;
}
.tweet-time a, .tweet-time a:hover {
    color:#878787;
}
  
.tweetprofilelink a {
    color:#444;
}
.tweetprofilelink a:hover {
    color:#444;
}
  
/* -------- FEED  ACTIONS ------*/
#twitter-actions {
    width:75px;
    float:right;
    margin-right:5px;   
    margin-top:3px;
        display:none !important;
}
.intent {
    width:25px;
    height:16px;
    float:left; 
}
.intent a{
    width:25px;
    height:16px;
    display:block;
    float:left; 
} 
.intent a:hover{
    background-position:-25px 0px;
} 
  
#intent-retweet a{
    background-position:0px -17px;
} 
#intent-retweet a:hover{
    background-position:-25px -17px;
} 
#intent-fave a{
    background-position:0px -36px;
} 
#intent-fave a:hover{
    background-position:-25px -36px;
} 
  
/* -------- RETWEET INDICATOR ------*/
#retweet-indicator {
    width:14px;
    height:10px;
    background-position:-5px -54px;
    margin-top:3px;
    float:left;
}